.william-branham-links-bar {
    background-color: #1B2125;; /* Dark background */
    padding: 2rem 0; /* Padding around the bar */
  }
  
  .william-branham-link {
    color: #ffffff; /* White text */
    text-align: center;
    text-decoration: none;
    font-size: 1.05rem;
  }

  .william-branham-link:hover {
    color: #ffffff; /* White text */
    cursor: pointer;
  }