.sunday-school-senior-section{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f8f8f8;
}

.sunday-school-senior-left-col{
    padding-right: 7rem;
}

.btn-sunday-school {
    border-radius: 0%;
}

/* Responsive styles for screens up to 400px */
@media screen and (max-width: 400px) {  
    
    .sunday-school-senior-left-col{
        padding-right: 0.5rem;
    }
    
    .btn-sunday-school {
        border-radius: 0%;
    }
  }
  
@media screen and (min-width: 400px) and (max-width: 600px) {

    .sunday-school-senior-left-col{
        padding-right: 0.5rem;
    }
    
    .btn-sunday-school {
        border-radius: 0%;
    }
  
  }
  
@media screen and (min-width: 600px) and (max-width: 900px) {

    .sunday-school-senior-left-col{
        padding-right: 3rem;
    }
    
    .btn-sunday-school {
        border-radius: 0%;
    }
  
  }
  
@media screen and (min-width: 900px) and (max-width: 1200px) {
    
    .sunday-school-senior-left-col{
        padding-right: 3rem;
    }
    
    .btn-sunday-school {
        border-radius: 0%;
    }

  }