.sunday-school-senior-section{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f8f8f8;
}

.sunday-school-senior-left-col{
    padding-right: 7rem;
}

.btn-sunday-school {
    border-radius: 0%;
}