/* Ministries */
.ministries-section {
    background-color: #1B2125;
    color: white;
    padding: 2rem;
    padding-bottom: 6rem;
  }
  
  .ministries-title {
    text-align: center;
    margin-bottom: 3.5rem;
    margin-top: 4rem;
    font-size: 2.75rem;
  }
  
  .ministry-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    transition: all 0.3s ease-in-out;
    margin-bottom: 4rem;
  }
  
  .ministry-card:hover {
    transform: scale(1.3);
  }
  
  .ministry-icon {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #CF4A46;
  }

  .ministry-name {
    font-size: 1.25rem;
  }

/* Responsive styles for screens up to 400px */
@media screen and (max-width: 400px) {
  .ministries-title {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .ministry-name {
    font-size: 0.875rem;
    text-align: center;
  }

  .ministries-section {
    padding: 1rem;
    padding-bottom: 2rem;
  }
}

/* Responsive styles for screens from 400px up to 600px */
@media screen and (min-width: 400px) and (max-width: 600px) {
  .ministries-title {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .ministry-name {
    font-size: 0.875rem;
    text-align: center;
  }

  .ministries-section {
    padding: 2rem;
    padding-bottom: 2rem;
  }
}

/* Responsive styles for screens from 600px up to 900px */
@media screen and (min-width: 600px) and (max-width: 900px) {
  .ministries-title {
    font-size: 2rem;
    margin-top: 2rem;
  }

  .ministry-name {
    font-size: 0.875rem;
    text-align: center;
  }

  .ministries-section {
    padding: 2rem;
    padding-bottom: 2rem;
  }
}

/* Responsive styles for screens from 900px up to 1200px */
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .ministries-title {
    font-size: 2.3rem;
    margin-top: 2rem;
  }

  .ministry-name {
    font-size: 1.3rem;
    text-align: center;
  }

  .ministries-section {
    padding: 2rem;
    padding-bottom: 2rem;
  }

  .ministry-icon {
    font-size: 2.7rem;
  }
}
  