.william-branham-fourth-section{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f8f8f8;
}

.william-branham-fourth-left-col{
    padding-right: 7rem;
}

.btn-william-branham-fourth {
    border-radius: 0%;
}