.mission-feature-section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.mission-feature-section-gray {
  background-color: #f8f8f8;
}

.mission-feature-left-col {
  padding-right: 7rem;
}

.mission-feature-eyebrow {
  color: rgba(207, 74, 70);
}

.btn-mission-feature {
  border-radius: 0;
}

.mission-feature-logo-image {
  width: 100%;
  max-width: 22rem;
  object-fit: contain !important;
  margin-left: auto;
  margin-right: auto;
}

.mission-feature-logo-image-restored {
  max-width: 15rem;
}

.mission-feature-logo-image-baptisms {
  max-width: 14rem;
}

@media screen and (max-width: 400px) {
  .mission-feature-left-col {
    padding-right: 0.5rem;
  }

  .mission-feature-logo-image {
    max-width: 14rem;
  }

  .mission-feature-logo-image-restored {
    max-width: 10.5rem;
  }

  .mission-feature-logo-image-baptisms {
    max-width: 10rem;
  }
}

@media screen and (min-width: 400px) and (max-width: 600px) {
  .mission-feature-left-col {
    padding-right: 0.5rem;
  }

  .mission-feature-logo-image {
    max-width: 15rem;
  }

  .mission-feature-logo-image-restored {
    max-width: 11.5rem;
  }

  .mission-feature-logo-image-baptisms {
    max-width: 11rem;
  }
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .mission-feature-left-col {
    padding-right: 3rem;
  }
}

@media screen and (min-width: 900px) and (max-width: 1200px) {
  .mission-feature-left-col {
    padding-right: 3rem;
  }
}
