.william-branham-third-section{
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: #f8f8f8;
}

.william-branham-third-left-col{
    padding-right: 7rem;
}

.btn-william-branham-third {
    border-radius: 0%;
}